:root{
	--Poppins: 'Poppins', sans-serif;
	--Red: hsl(0, 100%, 74%); 
	--Green: hsl(154, 59%, 51%);
	--Blue: hsl(248, 32%, 49%);
	--DarkBlue: hsl(249, 10%, 26%); 
	--GrayishBlue: hsl(246, 25%, 77%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: var(--Poppins);
	background-image: url('../images/bg-intro-mobile.png');
	background-position: top;
	background-repeat: repeat;
	background-size: contain;
	background-color: var(--Red);
	padding: 1.5em;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	/*grid-gap: 1.5em; */
}

.hero{
	padding-top: 4em;
	text-align: center;
	color: white;
	/*display: none;*/
}

.hero__title{
	font-weight: 700;
	font-size: 1.6em;
	line-height: 1.6em;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 0.5em;
}

.hero__copy{
	font-weight: 500;
	line-height: 1.7em;
	margin-bottom: 3.5em;
}

.ofert{
	text-align: center;
	color: white;
	background-color: var(--Blue);
	padding: 1.2em 3em;
	border-radius: .6em;
	box-shadow: 0px 8px 0 0 rgba(0,0,0,.15);
	margin-bottom: 1.5em;
}

.ofert span{
	font-weight: 600;
}

.form{
	width: 100%;
	background-color: white;
	padding: 1.5em;
	border-radius: .5em;
	box-shadow: 0px 8px 0 0 rgba(0,0,0,.15);
	margin-bottom: 2em;
}

.form .form-control{
	outline: none;
	border: none;
}

.form .form-control{
	width: 100%;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: .3em;
	margin-bottom: 1em;
	padding: 1.2em 1em;
	position: relative;
}

.form .form-control:focus{
	border: 1px solid rgba(0,0,0,0.5);
}

.form .form-group{
	position: relative;
}

.form .form-group::after{
	content: "";
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1.2em;
	height: 1.2em;
	width: 20px;
	height: 20px;
	display: block;
	background-image: url('../images/icon-error.svg');
	background-size: contain;
	opacity: 0;
	/*border: 1px solid red;*/
}

.form .form-control::-webkit-input-placeholder{
	color: rgba(0,0,0,.5);
	font-weight: 700;
	font-size: .9em;
}

.form .form-control::-moz-placeholder{
	color: rgba(0,0,0,.5);
	font-weight: 700;
	font-size: .9em;
}

.form .form-control:-ms-input-placeholder{
	color: rgba(0,0,0,.5);
	font-weight: 700;
	font-size: .9em;
}

.form .form-control::-ms-input-placeholder{
	color: rgba(0,0,0,.5);
	font-weight: 700;
	font-size: .9em;
}

.form .form-control,
.form .form-control::placeholder{
	color: rgba(0,0,0,.5);
	font-weight: 700;
	font-size: .9em;
}

.form .form-control::-webkit-input-placeholder{
	font-size: 1em;
}

.form .form-control::-moz-placeholder{
	font-size: 1em;
}

.form .form-control:-ms-input-placeholder{
	font-size: 1em;
}

.form .form-control::-ms-input-placeholder{
	font-size: 1em;
}

.form .form-control::placeholder{
	font-size: 1em;
}

.form .form-error-message{
	position: absolute;
	right: .5em;
	top: calc(100% - 1.4em);
	font-size: .65em;
	font-weight: 600;
	color: var(--Red);
	opacity: 0;
}

.form .form-group.error .form-error-message{
	opacity: 1;
}
.form .form-group.error .form-control{
	border: 2px solid var(--Red);
}
.form .form-group.error::after{
	content: "";
	opacity: 1;
}

.form .form-button{
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9em;
	color: white;
	background-color: var(--Green);
	border: none;
	border-radius: .5em;
	outline: none;
	padding: 1.5em;
	text-align: center;
	box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.1);
	margin-bottom: 1em;
}

.form .form-button:hover{
	cursor: pointer;
	background-color: hsla(154, 59%, 46%, 1);
}

.form .form-button:active{
	transform: scale(.96);
}

.form .form-info{
	color: rgba(0,0,0,.25);
	font-weight: 500;
	font-size: .7em;
	text-align: center;
	width: 90%;
	margin: 0 auto;

}

.form .form-info-link{
	text-decoration: none;
	color: var(--Red);
	font-weight: 700;
}


footer .attribution {
	font-size: 11px;
	text-align: center;
	color: white
}

footer .attribution a {
	color: var(--DarkBlue)
}

@media screen and (min-width: 1200px){
	body{
		-ms-grid-columns: 1fr 30em;
		grid-template-columns: 1fr 30em;
		width: 80%;
		margin: 0 auto;
		background-size: contain;
		background-position: center;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		align-content: center; 
		grid-gap: 4em;
	}

	.form{
		margin: 0;
	}

	.hero,
	.hero__title{
		text-align: left;
		width: 100%;
	}
	.hero__title{
		font-size: 3.1em;
		line-height: 1.1em;
	}

	.form .form-control{
		padding: 1.2em 2em;
		margin-bottom: 2em; 
	}

	.form .form-control::-webkit-input-placeholder{
		color: rgba(0,0,0,.6);
		font-weight: 700;
		font-size: .9em;
	}

	.form .form-control::-moz-placeholder{
		color: rgba(0,0,0,.6);
		font-weight: 700;
		font-size: .9em;
	}

	.form .form-control:-ms-input-placeholder{
		color: rgba(0,0,0,.6);
		font-weight: 700;
		font-size: .9em;
	}

	.form .form-control::-ms-input-placeholder{
		color: rgba(0,0,0,.6);
		font-weight: 700;
		font-size: .9em;
	}

	.form .form-control,
	.form .form-control::placeholder{
		color: rgba(0,0,0,.6);
		font-weight: 700;
		font-size: .9em;
	}

	.form .form-control::-webkit-input-placeholder{
		font-size: 1em;
	}

	.form .form-control::-moz-placeholder{
		font-size: 1em;
	}

	.form .form-control:-ms-input-placeholder{
		font-size: 1em;
	}

	.form .form-control::-ms-input-placeholder{
		font-size: 1em;
	}

	.form .form-control::placeholder{
		font-size: 1em;
	}

	.form .form-error-message{
		right: .5em;
		top: calc(100% - 2.2em);
		font-size: .75em;
	}

	footer .attribution{
		text-align: left;
		font-size: 1em;
	}
}
